<div class="row">

<div class="window">
	<div class="image_reel">
               <a href="?q=node"><%= image_tag "461948.1-lg.jpg" %></a>
               <a href="?q=node"><%= image_tag "1295541_8_thumb.jpg" %></a>
               <a href="?q=node"><%= image_tag "2531170_091529784252_2.jpg" %></a>
               <a href="?q=node"><%= image_tag "trailer.jpg" %></a>
	</div>
	<div class="descriptions">
                <div class="desc" style="display: none;">
                    	Nice weather during the 3rd Future Internet Summit
                    	<p>May 31 - June 1, 2012, Espoo, Finland</p>
                </div>
               	<div class="desc" style="display: none;">
                    	Keynote from Jianping Wu at the 3rd Future Internet Summit
                    	<p>June 1, 2012, Espoo, Finland</p>
                </div>	       
                <div class="desc" style="display: none;">
                    	The 4th China - Finland ICT Workshop
                    	<p>Apil 20, 2012, Xi'an, China</p>
                </div>
                <div class="desc" style="display: none;">
                    	Presentation of SFC at Aalto-Tongji Design Factory 
                    	<p>April 12, 2012, Shanghai, China</p>
                </div>
           
	</div>
				
</div><!--widows -->
<div class="span4 slide-right">
<h4>Welcome to Roadhost Industry Co.Ltd</h4>
Established in 2005, Roadhost Industry co.,Ltd is a professional enterprise who specialized in tire (wheel) manufacture, exporting. Roadhost has been dedicated to all kinds of tire (wheel) research and design to meet the needs of kinds of customers. By offering a wide selection of tire (wheel) products and positive suggestions & help, Roadhost has been proven to be a reliable supplier and leader in customer service. Thanks for all the supports from our loyal customers in past years.
</div>

</div>
<div class="row">
<div class="paging span6" style="display: block;">
		<a rel="1" href="#" class="">1</a>
		<a rel="2" href="#" class="">2</a>
                <a rel="3" href="#" class="">3</a>
                <a rel="4" href="#" class="">4</a>

</div>
</div>
