
<div class="main_view">
			<div class="window">
				<div class="image_reel">
                			<a href="?q=node"><%= image_tag "461948.1-lg.jpg" %></a>
               				<a href="?q=node"><%= image_tag "1295541_8_thumb.jpg" %></a>
                			<a href="?q=node"><%= image_tag "2531170_091529784252_2.jpg" %></a>
                			<a href="?q=node"><%= image_tag "trailer.jpg" %></a>
				</div>
			<div class="descriptions">
                		<div class="desc" style="display: none;">
                    		Nice weather during the 3rd Future Internet Summit
                    		<p>May 31 - June 1, 2012, Espoo, Finland</p>
                    		</div>
               	 		<div class="desc" style="display: none;">
                    		Keynote from Jianping Wu at the 3rd Future Internet Summit
                    		<p>June 1, 2012, Espoo, Finland</p>
                    		</div>	       
                    		<div class="desc" style="display: none;">
                    		The 4th China - Finland ICT Workshop
                    		<p>Apil 20, 2012, Xi'an, China</p>
                    		</div>
                    		<div class="desc" style="display: none;">
                    		Presentation of SFC at Aalto-Tongji Design Factory 
                    		<p>April 12, 2012, Shanghai, China</p>
                    		</div>
           
			</div>
				
			</div><!--widows -->


<div class="paging" style="display: block;">
		<a rel="1" href="#" class="">1</a>
		<a rel="2" href="#" class="">2</a>
                <a rel="3" href="#" class="">3</a>
                <a rel="4" href="#" class="">4</a>

	</div>
</div>

<div id="products_list">
 <div id="semi-steel" class="row">
<h4 class="span12" style="color:#0B610B">Greenball designs, manufactures and imports quality tires for a wide variety of applications. As tire technology and customer demands change, Greenball will continue to be a supplier of products that meet and exceed the requirements of our customers. </h4>
  <div class="span3"><img src="/assets/SN293C.jpg"/><span>Tires</span></div>
  <div class="span3"><img src="/assets/20108318163685781huang.jpg"/><span> ATV</span></div>
  <div class="span3"><img src="/assets/WheelRim-8-25X22-5.jpg"/><span>Wheels</span></div>
  <div class="span3"><img src="/assets/WH16.jpg"/><span>Truck Wheel</span></div>
</div>
<div><button class="btn btn-success all-products-btn" type="button">See all the products</button></div>

</div>


<div id="content" class="row">
  <div class="span3"><h4>Why choose Roadhost?</h4><p>Roadhost has been proven to be a reliable supplier and leader in customer service. Thanks for all the supports from our loyal customers in past years. Roadhost would be always striving to offer best products and improve our service to satisfy more customers. </p></div>
  <div class="span3"><h4>How does Roadhost supply these tires?</h4><p>Greenball develops, manufactures and imports a variety of quality tires. Our vendors are carefully selected to ensure the quality of tires imported are able to meet the market's needs.  Dedicated to ongoing research and development, Greenball continues to be an industry leader in new and innovative tire designs.  The success of our own private brands such as the TOW-MASTER, POWERMASTER, and DIRT DEVIL speak for themselves.</p></div>
  <div class="span3"><h4>What types of tires does Roadhost offer?</h4><p>Our coverage of tire ( wheel) products include: <ul><li>Semi-steel Tires</li><li>Semi-steel Tires</li><li>All-steel Tires</li><li>Wheels</li><li>Assemblies</li></ul></p></div>
  <div class="span3" style="margin-left:0px;"><h4>Another question?</h4></div>
</div>
<div><button class="btn btn-success contact-us-btn" type="button">Contact Us</button></div>

<div id="footer" class="row">
 <div class="span4"><h4>Contacts</h4>
Roadhosttire<br>
<b>Add</b>: No.19 th, Miaoling Road, Qingdao, China
<b>Tel</b>: 0086-8896 6939<br>
<b>Fax</b>: 0086-8896 6939<br>
<a href="mailto:sales@roadhostire.com"><span style="color:white">sales@roadhostire.com</span></a><br>
<span style="color:blue">www.roadhostire.com</span>
</div>
  <div class="span4"><h4>Products</h4><ul class=" footer-list"><li><a href="/categories/1/">Semi steel tires ></a></li><li><a href="/categories/2/">All steel tires ></a></li><li><a href="/categories/3/">Wheels ></a></li><li><a href="/categories/4/">Assemblies ></a></li></ul></div>
 <div class="span3"><h4>Pages</h4>
<ul class="footer-list">
<li><a href="#">Service & Support</a></li>
		<li><a href="#">Honors</a></li>
		<li><a href="#">News</a></li>
		<li><a href="#">Contact us</a></li>
</ul>
</div>

</div>
