<div class="row">
<div class="span6"><%= render 'form' %></div>
<div class="span4">  
<h4>Contacts</h4>
Roadhosttire<br>
<b>Add</b>: No.19 th, Miaoling Road, Qingdao, China
<b>Tel</b>: 0086-8896 6939<br>
<b>Fax</b>: 0086-8896 6939<br>
<a href="mailto:sales@roadhostire.com"><span style="color:white">sales@roadhostire.com</span></a><br>
<span style="color:blue">www.roadhostire.com</span>
<br>
<%= image_tag "map.png" %>
</div>
</div>


