/*--Run bundle exec rake assets:precompile on your local code--*/

.container{
 -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
 height:1195px;
}
/*--Window/Masking Styles--*/
.window { overflow:hidden; position:relative;width:500px;height:300px;  margin-left:15px; float:left;}

.image_reel { position:absolute; top: 0; left:0; }

.image_reel img {float:left; margin:11px;width:478px; height:300px;}


/*--Paging Styles--*/
.paging { padding:0; text-align:center;  z-index:100; }

.paging a { text-indent:-9999px; background:url(/assets/slide-nav-button.png) no-repeat center; width:11px; height:11px; display:inline-block;
margin:0; border:none; outline:none; }

.paging a.active { background:url(/assets/slide-nav-button-hover.png) no-repeat center; border:none; outline:none; }

.paging a:hover {font-weight:bold; border:none; outline:none;}

.desc { width:458px; display:none; position:absolute; bottom: -7px;; left: 0; margin-left: 11px; margin-bottom: 10px; z-index:101; background:url(/assets/30w087b.png); color:#fff; font-size:12px; padding:10px; border-radius:0 0 3px 0; -moz-border-radius:0 0 3px 0; -khtml-border-radius:0 0 3px 0; -webkit-border-radius:0 0 3px 0; }

.desc p{ font-size: 12px; color: #868686; margin-top:5px; }

#products_list img{
 height:200px;
 width:500px;
}

#products_list{
-moz-box-shadow:    3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
box-shadow:         3px 3px 5px 6px #ccc;
position:relative;
height:250px;
border-radius:10px;
margin-left:0px;
}
.all-products-btn{
 position:relative;
 left:400px;
 top:15px;
}
#content{
 position:relative;
 top:50px;
border-bottom-style:solid;
border-bottom-width:2px;
border-color:#0B610B;
margin-left:0px;
}


#content h4{
 color:#0B610B;
}
.contact-us-btn{
  position:relative;
 left:450px;
 top:35px;

}


.mycarousel{
 overflow:hidden;
 height:auto;
z-index:50;
}

#mycarousel li{
 width:460px;
}
#products_list_content{
background-color:#0B610B;
margin-left:0px;
color:white;
font-size:30px;
padding:10px;
}

.prev-button{
 position:relative;
 top:70px;
 left:20px;
 overflow:hide;
}

.next-button{
 position:relative;
 top:70px;
 left:500px;
 z-index:50;
}

.type_list_ul{
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}

.type_list_ul li {
margin-top: 10px;
padding: 0px;
}


.image-box{
height:150px;
width:249px;
border-style:solid;
border-width:1px;
border-color:gray;

}
.image-box img{
 width:240px;
height:170px;
}
#honors{

 z-index:-1;
}
#mycarousel li p{
 text-align:center;
}
.news{
 position:relative;
 top:-50px;
}

.productCate dl {
    background: url("http://style.tireb2b.com/home/common/t20/images/h_x_line.gif") repeat-x scroll left bottom transparent;
    overflow: hidden;
    padding: 10px;
}
.productCate dt {
    background: none repeat scroll 0 0 #F5F5F5;
    float: left;
    padding: 5px;
    width: 100px;
   
}
.productCate dd {
    float: right;
    width: 728px;
}

.mainPartA {
    overflow: hidden;
}
.MT {
    clear: both;
    margin: 10px 0 0;
}
.barA, .barA h5, .barA span {
    background: url("index_bg_3.gif") no-repeat scroll 0 0 transparent;
}
.barA h5{
 margin-top:4px;
 color:green;
}
.barA {
    background-repeat: repeat-x;
    border: 1px solid #CCCCCC;
    clear: both;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
color:green;
}
#footer{


    
}
.honors{
 margin-bottom:40px;
}

