.container{
 background-color:#BDBDBD;
 -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
 height:1400px;
}
/*--Window/Masking Styles--*/
.window { overflow:hidden; position:relative; width:960px; height:300px;  }

.image_reel { position:absolute; top: 0; left:0; }

.image_reel img {float:left; margin:11px;width:936px; }


/*--Paging Styles--*/
.paging { padding:0; text-align:center; width:960px; z-index:100; }

.paging a { text-indent:-9999px; background:url(/assets/slide-nav-button.png) no-repeat center; width:11px; height:11px; display:inline-block;
margin:0; border:none; outline:none; }

.paging a.active { background:url(/assets/slide-nav-button-hover.png) no-repeat center; border:none; outline:none; }

.paging a:hover {font-weight:bold; border:none; outline:none;}

.desc { width:910px; display:none; position:absolute; bottom: -7px;; left: 0; margin-left: 11px; margin-bottom: 10px; z-index:101; background:url(/assets/30w087b.png); color:#fff; font-size:12px; padding:10px; border-radius:0 0 3px 0; -moz-border-radius:0 0 3px 0; -khtml-border-radius:0 0 3px 0; -webkit-border-radius:0 0 3px 0; }

.desc p{ font-size: 12px; color: #868686; margin-top:5px; }

#products_list img{
 height:200px;
 width:200px;
}

#products_list{
 border-top-style:solid;
 border-bottom-style:solid;
border-top-width:2px;
border-bottom-width:2px;
border-color:#0B610B;

}
.all-products-btn{
 position:relative;
 left:400px;
 top:15px;
}
#content{
 position:relative;
 top:50px;
border-bottom-style:solid;
border-bottom-width:2px;
border-color:#0B610B;
margin-left:0px;
}
#footer{
 position:relative;
 top:70px;
 margin-left:0px;
 background-color:#0B610B;
}

#content h4{
 color:#0B610B;
}
.contact-us-btn{
  position:relative;
 left:450px;
 top:35px;

}
.footer-list{
 margin:0px;
}
.footer-list li a{

 text-decoration:none;


}
.footer-list li{
list-style-type: none;
}
