<% @categories.each do |category| %>
      <% if category.types.empty? %>
        <li> <%= link_to category.title, category_path(category) %></li>
      <% else %>
	<li class="dropdown-submenu">
	<a><%= category.title %></a>
		<ul class="dropdown-menu">
			<% category.types.each do |type| %>
			   <li> <%= link_to type.name,type_path(type)  %></li>
			<% end %>
				
		</ul>
	<li>
      <% end %>
	
<% end %>

