<div id="honors">
<div class="row">
  <div class="span6"><%= image_tag "honor1.gif" %></div>
  <div class="span6"><%= image_tag "honor2.gif" %></div>
  
</div>

<div class="row">
  <div class="span6"><%= image_tag "honor3.gif" %></div>
  <div class="span6"><%= image_tag "honor4.gif" %></div>
  
</div>
</div>
