<div id="header" class="navbar">
   
<div class="navbar-inner">
	<a class="brand" href="/"><img src="/assets/LOGO2.jpg"><span style="color:#0B610B">ROADHOST，ALL THE ROAD RUNS</span></a>
	<ul class="nav">
		<li class="<%= 'active' if params[:controller] == 'home' %>"><a href="/">Home</a></li>
		<li><a href="/about/us">About us</a></li>
		<li class=" <%= 'active' if params[:controller] == 'types' %>"><a href="/categories" >Products</a>
		</li>
		<li class="<%= 'active' if params[:controller] == 'news' %>"><a href="/news">News</a></li>
		<li class="<%= 'active' if params[:controller] == 'contacts' %>"><a href="/contacts/new">Contact us</a></li>
	</ul>
</div>
</div>
