<div id="header" class="navbar">
   
<div class="navbar-inner">
	<a class="brand" href="/"><img src="/assets/LOGO2.jpg"><span style="color:#0B610B">ROADHOST，ALL THE ROAD RUNS</span></a>
	<ul class="nav">
		<li class="active"><a href="/">Home</a></li>
		<li><a href="#">About us</a></li>
		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" >Products<b class="caret"></b></a>
			<ul class="dropdown-menu">
			  <% @categories.each do |category| %>
			  <li><%= link_to category.title, category_path(category) %><li>
			  <% end %>
			</ul>
		</li>
		<li><a href="#">Service & Support</a></li>
		<li><a href="#">Honors</a></li>
		<li><a href="#">News</a></li>
		<li><a href="#">Contact us</a></li>
	</ul>
</div>
</div>
