<div class="window">
	<div class="image_reel">
               <a href="?q=node"><%= image_tag "461948.1-lg.jpg" %></a>
               <a href="?q=node"><%= image_tag "1295541_8_thumb.jpg" %></a>
               <a href="?q=node"><%= image_tag "2531170_091529784252_2.jpg" %></a>
               <a href="?q=node"><%= image_tag "trailer.jpg" %></a>
	</div>
	<div class="descriptions">
                <div class="desc" style="display: none;">
                    	Nice weather during the 3rd Future Internet Summit
                    	<p>May 31 - June 1, 2012, Espoo, Finland</p>
                </div>
               	<div class="desc" style="display: none;">
                    	Keynote from Jianping Wu at the 3rd Future Internet Summit
                    	<p>June 1, 2012, Espoo, Finland</p>
                </div>	       
                <div class="desc" style="display: none;">
                    	The 4th China - Finland ICT Workshop
                    	<p>Apil 20, 2012, Xi'an, China</p>
                </div>
                <div class="desc" style="display: none;">
                    	Presentation of SFC at Aalto-Tongji Design Factory 
                    	<p>April 12, 2012, Shanghai, China</p>
                </div>
           
	</div>
				
</div><!--widows -->


<div class="paging" style="display: block;">
		<a rel="1" href="#" class="">1</a>
		<a rel="2" href="#" class="">2</a>
                <a rel="3" href="#" class="">3</a>
                <a rel="4" href="#" class="">4</a>

</div>
